[Unit]
Description=gs6ex@%I
After=default.target

[Service]
WorkingDirectory=/home/gs6ex/
ExecStart=/home/gs6ex/gs6ex/bin/python3.8 -um gs6ex %I
Type=idle
Restart=always
RestartSec=15
TimeoutStopSec=10

[Install]
WantedBy=default.target
